<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-header">
        <div class="logo">
        <img src="/images/logo-mercado-liebre.svg"  alt="Logo MercadoLiebre">
        </div>
        <!--<p>Lugar para poner la barra de búsqueda</p>-->
        <div class="buscador">
            <input type="search" placeholder="Buscar productos, marcas y más">
            <i class="fab fa-sistrix"></i>
        </div>
        <p class="comprar"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav-bar"> 
            <ul>
                <li><a href="#" class="listas 1">Ofertas</a></li>
                <li><a href="#" class="listas 2">Tiendas Oficiales</a></li>
                <li><a href="#" class="listas 3">Vender</a></li>
                <li><a href="#" class="listas 4">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-out-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </header>
        <main>
            <form action="/" method="GET" class="register-form">
                <h3>Formulario de Registro</h3>
                <div class="control-form">
                    <input type="text" id="nombre" placeholder="Nombre y apellido"><br>
                </div>
                <div class="control-form">
                    <input type="text" id="usuario" placeholder="Nombre de usuario"><br>
                </div>
                <div class="control-form">
                    <input type="email" id="email" placeholder="E-mail"><br>
                </div>
                <div class="control-form">
                    <h4>Fecha de nacimiento</h4>
                    <input type="date" name="nacimiento">
                </div>
                <div class="control-form">
                    <input type="text" id="domicilio" placeholder="Domicilio"><br>
                </div>
                <div class="control-form">
                    <h4>Perfil de usuario</h4>
                    <label for="perfilusuario"><input type="radio" name="perfilusuario" value="comprador">Comprador</label>
                    <label for="perfilusuario"><input type="radio" name="perfilusuario" value="vendedor">Vendedor</label>
                </div>
                <div class="control-form">
                    <h4>Intereses</h4>
                    <label><input type="checkbox" value="electro">Electro</label><br>
                    <label><input type="checkbox" value="moda">Moda</label><br>
                    <label><input type="checkbox" value="hogar">Hogar</label><br>
                    <label><input type="checkbox" value="jugueteria">Jugueteria</label><br>
                    <label><input type="checkbox" value="vida sana">Vida sana</label><br>
                </div>
                <div class="control-form">
                    <h4>Foto de perfil</h4>
                    <input type="file" accept=".jpg , .png"><br>
                </div>
                <div class="control-form">
                    <input type="password" placeholder="Contraseña"><br>
                </div>
                <div class="control-form">
                    <input type="password" placeholder="Confirmar Contraseña"><br>
                </div>
                    <button type="submit" class="boton-registro">ENVIAR</button>
                    <button type="reset" class="boton-registro">CANCELAR</button>
            </form>
        </main>
    <footer>
        <div class="footer">
            <div class="footer-text">
                <div class="icons-footer"><i class="fas fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-text">
                <div class="icons-footer"><i class="fas fa-gift"></i></div>
                <h4>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p> 
            </div>
            <div class="footer-text">
                <div class="icons-footer"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            </div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html> 